<!-- 列表 -->
<div class="vehicle-list" style="margin-bottom: 2rem;">
  <div class="list-header">
    <div class="list-title">Branch List</div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Contact Person</th>
        <th>Contact Phone</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @branches.each do |branch|%>
      <tr>
        <td><%=branch.branch_code%></td>
        <td><%=branch.branch_name%></td>
        <td><%=branch.city%></td>
        <td><%=branch.address%></td>
        <td><%=branch.postcode%></td>
        <td><%=branch.contact_person%></td>
        <td><%=branch.contact_phone%></td>
        <td><span class="status <%={'out_of_service'=>'on-route', 'in_service'=>'available'}[branch.status]%>"><%=branch.status%></td>
        <td>
          
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1%>
</div>