<!-- 列表 -->
<div class="vehicle-list" style="margin-bottom: 2rem;">
  <div class="list-header">
    <div class="list-title">Customer List</div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Login Name</th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Contact Person</th>
        <th>Contact Phone</th>
        <th>Status</th>
        <th>Credit Level</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user|%>
      <tr>
        <td><%=user.nickname%></td>
        <td><%=user.customer_code%></td>
        <td><%=user.customer_name%></td>
        <td><%=user.customer_type%></td>
        <td><%=user.contact_person%></td>
        <td><%=user.contact_phone%></td>
        <td><span class="status <%={'out_of_service'=>'on-route', 'in_service'=>'available', 'on_vacation' => 'on-route', 'resigned'=>'maintenance'}[user.status]%>"><%=user.status%></td>
        <td><%=user.credit_level%></td>
        <td>
          <a title="Edit Customer" class="btn-icon" href="<%=edit_customer_user_path(user)%>"><i class="fa-solid fa-pen-to-square"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1%>
</div>