<!-- 列表 -->
<div class="vehicle-list" style="margin-bottom: 2rem;">
  <div class="list-header">
    <div class="list-title">Driver List</div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Login Name</th>
        <th>User Name</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Driver License</th>
        <th>License Type</th>
        <th>Expire Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user|%>
      <tr>
        <td><%=user.nickname%></td>
        <td><%=user.user_name%></td>
        <td><%=user.id_card%></td>
        <td><%=user.contact_phone%></td>
        <td><%=user.driver_license%></td>
        <td><%=user.license_type%></td>
        <td><%=user.license_expire_date&.strftime("%F")%></td>
        <td><span class="status <%={'out_of_service'=>'on-route', 'in_service'=>'available', 'on_vacation' => 'on-route', 'resigned'=>'maintenance'}[user.status]%>"><%=user.status%></td>
        <td>
          
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1%>
</div>