<div class="cards-container">
  <!-- 卡片1 -->
  <div class="route-card">
    <div class="card-header1">
        <h2>Order Route Plan</h2>
        <div class="status"><%=@order.order_no%></div>
    </div>
    <div class="card-content">
      <div class="route-info">
        <div class="location">
          <div class="icon start-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="location-info">
            <h3>FROM<% if @order.is_return%>&nbsp;&nbsp;&nbsp;(Return Order) <% else %><%if @order.need_pickup%>&nbsp;&nbsp;&nbsp;(PickUp Order) <% else %>&nbsp;&nbsp;&nbsp;(Self-Delivery Order)<% end %><% end %></h3>
            <p><%=@order.from_show%></p>
          </div>
        </div>
        
        <div class="location">
          <div class="icon end-icon">
            <i class="fas fa-flag-checkered"></i>
          </div>
          <div class="location-info">
            <h3>TO</h3>
            <p><% if @order.is_return %><%=@order.branch_code%><% else %><%=@order.to_show%><% end %></p>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<div class="vehicle-list" style="margin-bottom: 2rem;">
  <div class="list-header">
    <div class="list-title">Planed Routes</div>
  </div>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Planed Mileage(KM)</th>
        <th>Planed Duration(min)</th>
        <th>ETD</th>
        <th>ETA</th>
        <th>Remark</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_routes.order("node_order asc").each_with_index do |route, index|%>
      <tr>
        <td><%=route.first_location%></td>
        <td><%=route.end_location%></td>
        <td><%=route.planned_mileage%></td>
        <td><%=route.planned_duration%></td>
        <td><%=route.expected_departure_time&.strftime("%F %T")%></td>
        <td><%=route.expected_arrival_time&.strftime("%F %T")%></td>
        <td><%=route.remark%></td>
        <td>
            <% if index == @order.order_routes.count - 1%>
            <a class="btn-icon" title="Delete This Plan" data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="<%=order_routes_path%>/<%=route.id%>"><i class="fas fa-trash"></i></a>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<% if @order.can_plan? %>
<div id="userForm" class="card-new" style="margin-bottom: 2rem;">
  <div class="card-header">
      <div class="card-title">Plan New Route</div>
  </div>
  <div class="card-body">
    <%= form_with(model: @order_route, url: route_planed_transport_order_path(@order), method: "post") do |f|%>
      <% unless f.object.errors.empty? %>
        <ul class="list-group">
          <li class="list-group-item active">Order Created Failed</li>
          <% f.object.errors.full_messages.each do |msg| %>
            <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% end -%>
        </ul>
      <% end -%>
      <%= f.hidden_field :node_order%>
      <div class="form-section" style="margin-bottom: 2rem;    margin-top: 2.5rem;">
        <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1.5rem; margin-bottom: 1.5rem;">
          <% if @order_route.node_order == 1 %>
            <% if @order.need_pickup %>
            <div class="form-group">
              <label class="form-label">First Location*</label>
              <%= f.select :first_location, Branch.where(status: "in_service").map{|branch| "#{branch.branch_code}"}, {required: true}, {class: 'form-select'} %>
            </div>
            <div class="form-group">
              <label class="form-label">End Location*</label>
              <%= f.text_field :end_location, class: "form-input", value: @order.from_show, required: true, readonly: true %>
            </div>
            <% else %>
            <div class="form-group">
              <label class="form-label">First Location*</label>
              <%= f.text_field :first_location, class: "form-input", value: @order.branch_code, required: true, readonly: true %>
            </div>
            <div class="form-group">
              <label class="form-label">End Location*</label>
              <% if @order.is_return %>
                <%= f.select :end_location, Branch.where(status: "in_service").map{|branch| "#{branch.branch_code}"}, {required: true}, {class: 'form-select'} %>
              <% else %>
                <%= f.select :end_location, Branch.where(status: "in_service").map{|branch| "#{branch.branch_code}"}.unshift("#{@order.to_show}"), {required: true}, {class: 'form-select'} %>
              <% end %>
            </div>
            <% end %>
          <% else %>
          <div class="form-group">
              <label class="form-label">First Location*</label>
              <%= f.text_field :first_location, class: "form-input", value: @last_route.end_location, required: false, readonly: true %>
          </div>
          <div class="form-group">
              <label class="form-label">End Location*</label>
              <% if @order.is_return %>
                <%= f.select :end_location, Branch.where(status: "in_service").map{|branch| "#{branch.branch_code}"}, {required: true}, {class: 'form-select'} %>
              <% else %>
                <%= f.select :end_location, Branch.where(status: "in_service").map{|branch| "#{branch.branch_code}"}.unshift("#{@order.to_show}"), {required: true}, {class: 'form-select'} %>
              <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="form-section" style="margin-bottom: 2rem;    margin-top: 2.5rem;">
        <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1.5rem; margin-bottom: 1.5rem;">
          <div class="form-group">
            <label class="form-label">Planed Mileage(KM)</label>
            <%= f.text_field :planned_mileage, class: "form-input", placeholder: "", required: false %>
          </div>
          <div class="form-group">
            <label class="form-label">Planed Duration(min)</label>
            <%= f.text_field :planned_duration, class: "form-input", placeholder: "", required: false %>
          </div>
        </div>
      </div>
      <div class="form-section" style="margin-bottom: 2rem;    margin-top: 2.5rem;">
        <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1.5rem; margin-bottom: 1.5rem;">
          <div class="form-group">
            <label class="form-label">Expected Departure Time*</label>
            <%= f.text_field :expected_departure_time, class: "form-input flatpickr-datetime", required: true %>
          </div>
          <div class="form-group">
            <label class="form-label">Expected Arrive Time*</label>
            <%= f.text_field :expected_arrival_time, class: "form-input flatpickr-datetime", required: true %>
          </div>
          <div class="form-group">
            <label class="form-label">Remark</label>
            <%= f.text_field :remark, class: "form-input", placeholder: "", required: false %>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: flex-start; gap: 1rem;">
          <button type="submit" class="btn btn-primary">Plan</button>
          <a type="button" href="<%=staff_views_transport_orders_path%>" class="btn" style="background: var(--gray-200); color: var(--gray-600);">Return</a>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<div style="display: flex; justify-content: flex-start; gap: 1rem;">
    <a type="button" href="<%=staff_views_transport_orders_path%>" class="btn" style="background: var(--gray-200); color: var(--gray-600);">Return</a>
</div>
<% end %>

<script type="text/javascript">
  flatpickr(".flatpickr-datetime", {
    enableTime: true,        // 启用时间选择
    dateFormat: "Y/m/d H:i", // 设置所需的日期时间格式
    time_24hr: true,
    minTime: "09:00",
    maxTime: "18:00",
    minDate: "today"
  });
</script>