

<div class="cards-container">
  <!-- 卡片1 -->
  <div class="route-card">
    <div class="card-header1">
        <h2><%=@order.order_no%></h2>
        <div class="status"><%=@order.order_status%></div>
    </div>
    <div class="card-content">
      <div class="route-info">
        <div class="location">
          <div class="icon start-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="location-info">
            <h3>FROM</h3>
            <p><%=@order.from_show%></p>
          </div>
        </div>
        
        <div class="location">
          <div class="icon end-icon">
            <i class="fas fa-flag-checkered"></i>
          </div>
          <div class="location-info">
            <h3>TO</h3>
            <p><%=@order.to_show%></p>
          </div>
        </div>
      </div>
      
      <div class="route-details">
        <div class="detail-item">
          <span class="label">Need Pickup?</span>
          <span class="value"><%={true=>'YES', false=>'NO'}[@order.need_pickup]%></span>
        </div>
        <% if @order.need_pickup %>
        <div class="detail-item">
          <span class="label">Shipper</span>
          <span class="value"><%=@order.shipper_name%></span>
        </div>
        <div class="detail-item">
          <span class="label">Shipper Phone</span>
          <span class="value"><%=@order.shipper_phone%></span>
        </div>
        <% end %>
        <div class="detail-item">
          <span class="label">Receiver</span>
          <span class="value"><%=@order.consignee_name%></span>
        </div>
        <div class="detail-item">
          <span class="label">Receiver Phone</span>
          <span class="value"><%=@order.consignee_phone%></span>
        </div>

        <div class="detail-item">
          <span class="label">Goods Name</span>
          <span class="value"><%=@order.goods_name%></span>
        </div>
        <div class="detail-item">
          <span class="label">Goods Type</span>
          <span class="value"><%=@order.goods_type%></span>
        </div>
        <div class="detail-item">
          <span class="label">High Value</span>
          <span class="value"><%={true=>'YES', false=>'NO'}[@order.is_high_value]%></span>
        </div>

        <div class="detail-item">
          <span class="label">Weight</span>
          <span class="value"><%=@order.goods_weight%> kg</span>
        </div>
        <div class="detail-item">
          <span class="label">Volume</span>
          <span class="value"><%=@order.goods_volume%> m³</span>
        </div>
        <div class="detail-item">
          <span class="label">Box Count</span>
          <span class="value"><%=@order.goods_quantity%></span>
        </div>
        <div class="detail-item">
          <span class="label">Expect PickUp Time</span>
          <span class="value"><%=@order.appointment_time&.strftime('%F %T')%></span>
        </div>

        <div class="detail-item">
          <span class="label">Notes</span>
          <span class="value"><%=@order.remark%></span>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: flex-end; gap: 1rem;margin-bottom: 1rem;margin-right: 1rem;">
      <% if current_user.is_customer? %>
        <a type="button" href="<%=transport_orders_path%>" class="btn" style="background: var(--gray-200); color: var(--gray-600);">Return</a>
      <% else %>
        <a type="button" href="<%=staff_views_transport_orders_path%>" class="btn" style="background: var(--gray-200); color: var(--gray-600);">Return</a>
      <% end %>
    </div>
  </div>
</div>