<!-- 订单列表 -->
<div class="vehicle-list" style="margin-bottom: 2rem;">
  <div class="list-header">
    <div class="list-title">Order List</div>
  </div>
  <table>
    <thead>
        <tr>
            <th>Order NO</th>
            <th>Customer</th>
            <th>Goods Type</th>
            <th>Weight (kg)</th>
            <th>Volume (m³)</th>
            <th>Quantity</th>
            <th>PickUp?</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @orders.each do |order|%>
      <tr>
        <td><%=order.order_no%></td>
        <td><%=order.user.customer_code%></td>
        <td><%=order.goods_type%></td>
        <td><%=order.goods_weight%></td>
        <td><%=order.goods_volume%></td>
        <td><%=order.goods_quantity%></td>
        <td><%={true=>'YES', false=>'NO'}[order.need_pickup]%></td>
        <td><span class="status on-route"><%=order.order_status%></span></td>
        <td>
          <a title="Show" class="btn-icon" href="<%=transport_order_path(order)%>"><i class="fas fa-circle-info"></i></a>
          <% if order.can_plan?%>
          <a title="Route Plan" class="btn-icon" href="<%=route_plan_transport_order_path(order)%>"><i class="fas fa-route"></i></a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1%>
</div>