<!-- 侧边导航栏 -->
<aside class="sidebar">
  <div class="logo">
    <h1><i class="fas fa-truck-moving"></i> TMS </h1>
  </div>
  <nav class="nav-links">
    <% if current_user.is_customer? %>
    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-clipboard-list"></i>
          <span>Order</span>
          <span class="notification-badge">5</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=transport_orders_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Order List</span>
          </a>
          <a href="<%=returns_transport_orders_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Return List</span>
          </a>
          <a href="<%=new_pickup_order_transport_orders_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Create Order(Pickup)</span>
          </a>
          <a href="<%=new_transport_order_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Create Order(Non-Pickup)</span>
          </a>
      </div>
    </div>
    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-clipboard-list"></i>
          <span>Violation Appeals</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=violation_appeals_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Appeals List</span>
          </a>
          <a href="<%=new_violation_appeal_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Create Appeals</span>
          </a>
      </div>
    </div>
    <% else %>
    <% if current_user.is_admin? %>
    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-clipboard-user"></i>
          <span>Staff</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
        <a href="<%=users_path%>" class="submenu-link">
          <i class="fas fa-bars"></i>
          <span>Staff List</span>
        </a>
        <a href="<%=new_user_path%>" class="submenu-link">
          <i class="fas fa-plus"></i>
          <span>Add Staff</span>
        </a>
      </div>
    </div>
    <% end %>
    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-user "></i>
          <span>Customer</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
        <a href="<%=customers_users_path%>" class="submenu-link">
          <i class="fas fa-bars"></i>
          <span>Customer List</span>
        </a>
        <a href="<%=new_customer_users_path%>" class="submenu-link">
          <i class="fas fa-plus"></i>
          <span>Add Customer</span>
        </a>
      </div>
    </div>

    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-users"></i>
          <span>Driver</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=drivers_users_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Driver List</span>
          </a>
          <a href="<%=new_driver_users_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Add Driver</span>
          </a>
      </div>
    </div>

    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-network-wired"></i>
          <span>Branch</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=branches_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Branch List</span>
          </a>
          <a href="<%=new_branch_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Add Branch</span>
          </a>
      </div>
    </div>
    
    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-truck"></i>
          <span>Truck</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=trucks_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Truck List</span>
          </a>
          <a href="<%=scheduling_trucks_path%>" class="submenu-link">
              <i class="fa-solid fa-calendar"></i>
              <span>Truck Scheduling</span>
          </a>
          <a href="<%=new_truck_path%>" class="submenu-link">
              <i class="fas fa-plus"></i>
              <span>Add Truck</span>
          </a>
      </div>
    </div>

    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-clipboard-list"></i>
          <span>Order</span>
          <span class="notification-badge">5</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=staff_views_transport_orders_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Order List</span>
          </a>
      </div>
    </div>

    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-route"></i>
          <span>Route Planning</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=order_routes_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Route List</span>
          </a>
      </div>
    </div>

    <div class="nav-group">
      <a href="#" class="nav-link">
          <i class="fas fa-map-marked-alt"></i>
          <span>Tasks</span>
          <i class="fas fa-chevron-down submenu-icon"></i>
      </a>
      <div class="submenu">
          <a href="<%=transport_tasks_path%>" class="submenu-link">
              <i class="fas fa-list"></i>
              <span>Task List</span>
          </a>
      </div>
    </div>
    <!--
    <a href="#" class="nav-link">
      <i class="fas fa-chart-line"></i>
      <span>Data Analysis</span>
    </a>
    -->
    
    <% end %>
    
  </nav>
</aside>