<!-- Tab Bar -->
<div class="mobile-tab-bar">
    <a href="<%=mobile_transport_tasks_path%>" class="mobile-tab-item <%= yield :t_active %>" data-page="homePage">
        <i class="fas fa-home"></i>
        <span id="homeTab">Task</span>
    </a>
    <a href="<%=in_progress_orders_mobile_transport_tasks_path%>" class="mobile-tab-item <%= yield :o_active %>" data-page="recordPage">
        <i class="fas fa-history"></i>
        <span id="recordTab">Order</span>
    </a>
    <a href="<%=mobile_pages_profile_path%>" class="mobile-tab-item <%= yield :p_active %>" data-page="profilePage">
        <i class="fas fa-user"></i>
        <span id="profileTab">Profile</span>
    </a>
</div>